__pycache__/data.cpython-314.pyc
.venv/bin/Activate.ps1
.venv/bin/__pycache__/bottle.cpython-312.pyc
.venv/bin/activate
.venv/bin/activate.csh
.venv/bin/autopytoexe
.venv/bin/auto-py-to-exe
.venv/bin/activate.fish
.venv/
__pycache__/
build/display/
display.spec
StudyTools.xpm
